/* 4 types of selectors
1. p {color: red;}
2. .name{} -> class = "name" in html
3. #idname{}
4. *{}
*/
.fontStyle {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}
/*.fontStyle{style weight size family)
    size and family must be included in the format*/
.textStyle {
    color:red;
    text-align: left;
    text-decoration: line-through;
    text-indent: 2em;
    /*text indent use px or em. (1 em means 1 word) it is a relative unit) */
    line-height: 26px;
}
